.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .navbar .container,
  .navbar .container-fluid,
  .navbar .container-sm,
  .navbar .container-md,
  .navbar .container-lg,
  .navbar .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .btn-2 {
      background: url("swear.png");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
      margin-right: auto;
      margin-left: auto;
      opacity: 1.5;
      width: 150px;
      height: 150px;
  }

  .btn-div {
    margin-right: auto;
    margin-left: auto;
  }
  body {
    margin: 0;
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color:#8B0000 ;
    background:  url("background-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  header.masthead {
    padding-top: 10rem;
  }
  header.masthead h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 3.5rem;
    }
  }

  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

 /* GAME Page Styling */


 .score-container {
     background-color: white;
     padding:20px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
 }


 /* MAP CSS */

 .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
    width: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* spellList */

  .card-1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    border: none;
    flex-direction: column;
    min-width: 0;
    position: relative;
    border-radius: .25rem;
  }

  .card-body {
      display: flex;
      margin-left: auto;
      margin-right: auto;
  }

  .spell-container {
      display: flex;
  }


  .btn {
      background-color: #DAA520;
      padding: 15px;
      color:black;
      font-weight: bold;

  }

  .about-section {
    color: black;
    margin-bottom: 31px;
  }

  li {
    width: 450px;
  }

/* IPAD */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
        .ipad-media {
            margin-top: 720px;
        }
}

/* IPHONE */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
        .about-section{
            margin-top: 400px;
        }
}


/* House dropdown menu */

.gryffindor {
    background-color: #4B0606;
    color: #ECB91A;
}

.hufflepuff {
    background-color: #EBD70A;
}

.ravenclaw {
    background-color: #0A2F48;
    color: #A17750;
}

.slytherin {
    background-color: #23561F;
    color: #999491;
}